@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
}

.securityAnimation{
  position:fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  height: 100vh;
  z-index: -1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
    -webkit-text-fill-color: white !important;
}
